.footer {
  background-color: var(--dark-blue);
  color: #fff;
  font-size: 1.6rem;
  ul {
    margin-bottom: 3rem;
    border-bottom: 1px solid #fff;
    line-height: 2;
    span {
      font-size: 2.6rem;
      font-weight: 600;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 3rem;
      padding-top: 1rem;
      color: var(--color-danger);
    }
    .flex {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem;
    }
    li {
      list-style: none;
      font-size: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.3rem;
      margin-bottom: 1rem;
      font-weight: 700;
      :first-child {
        color: var(--color-danger);
      }
    }
    a {
      color: #fff;
    }
  }

  p {
    color: #fff;
    cursor: pointer;
    font-weight: 700;
  }
  .copyright {
    text-align: center;
    font-weight: 700;
  }
}

@media (max-width: 500px) {
  .footer ul .flex {
    grid-template-columns: repeat(2, 1fr);
  }
}
