.info-box {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 4rem;
}

.card {
  border: 1px solid #ccc;
  // border-bottom: 3px solid var(--light-blue);
  padding: 5px;
  background-color: #f5f6fa;
}

.card1 {
  border-bottom: 3px solid #c07d53;
}
.card2 {
  border-bottom: 3px solid #000;
}
.card3 {
  border-bottom: 3px solid #3c4448;
}