.sec {
  min-height: 82vh;
}
h2 {
  text-align: center;
}
.table {
  padding: 5px;
  width: 100%;
  overflow-x: auto;
  .empty {
    text-align: center;
    font-size: 1.4rem;
    padding-bottom: 8rem;
    b {
      text-align: left;
    }
  }
  .basket-empty {
    font-size: 20rem;
    margin-bottom: 1rem;
    color: #444;
    @media (max-width: 500px) {
      font-size: 15rem;
      h2 {
        font-size: .7rem;
      }
    }
  }
  .related {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding-top: 1rem;
    @media (max-width: 500px) {
      display: flex;
    }
    img {
      width: 200px;
    }
    .details {
      padding: 1rem;
      :nth-child(2) {
        color: #c07d53;
      }
      :nth-child(3) {
        font-weight: 500;
      }
    }
  }

  table {
    border-collapse: collapse;
    width: 100%;
    font-size: 1.4rem;

    thead {
      border-top: 2px solid var(--light-blue);
      border-bottom: 2px solid var(--light-blue);
    }

    th {
      border: 1px solid #eee;
    }

    th,
    td {
      vertical-align: top;
      text-align: left;
      padding: 8px;
      &.icons {
        > * {
          margin-right: 5px;
          cursor: pointer;
        }
      }
    }

    tr {
      border-bottom: 1px solid #ccc;
      cursor: pointer;
    }

    tr:nth-child(even) {
      background-color: #eee;
    }
    .delievered {
      color: orangered;
      font-weight: 500;
    }
    .pending {
      color: green;
      font-weight: 500;
    }
  }
}

@media (max-width: 500px) {
  .related {
    gap: 0.9rem;
    overflow-x: auto;
    flex-wrap: nowrap;
    max-width: 1300px;
    width: 90%;
    margin: auto;
  }
  .related::-webkit-scrollbar {
    display: none;
  }
  h3 {
    font-size: 2rem;
    margin-left: 2rem;
  }
}
